-#  This file is app/views/movies/index.html.haml
%h1 All Movies


= form_tag movies_path, :method => :get, "id" => "ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", rating, @ratings[rating] ? true : false
  = submit_tag 'Refresh', "id" => "ratings_submit"



%table#movies
  %thead
    %tr
      %th{:class => "#{@category == "title" ? "hilite" : ""}"}
        %a#title_header{:href => movies_path({"category" => "title", "sort" => "asc", "ratings" => @ratings})} Movie Title
      %th Rating
      %th {:class => "#{@category == "release_date" ? "hilite" : ""}"}
	%a#release_date_header{:href => movies_path({"category" => "release_date", "sort" => "asc", "ratings" => @ratings})} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
